{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dependencies/bootstrap-5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dependencies/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dependencies/slick-1.8.1/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'dependencies/fontawesome-free-5.13.1-web/css/all.min.css' %}">


</head>
<body>
    <div class="container-fluid">
        <ul class="messages">
            {% for message in messages %}
            <div {%if message.tags%} class="text-cemter alert alert-{{ message.tags }}"{% endif %}>
                {{message}}
            </div>
            {% endfor %}
        </ul>
    </div>
  
  
  
  
  <div class="overall">
  
        
  <nav class="navbar  navbar-expand-lg navbar-light bg-light rounded pb-3 shadow-sm ">
   <div class="container-fluid  px-1"> 
    <span href="#" class="navbar-brand mb-0 ps-2  h1">Paradise</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ms-auto">
           <li class="nav-item me-3">
               <a href="" class="nav-link d-inline-block">Home</a>
           </li>
           <li class="nav-item me-3 ">
               <a href="" class="nav-link d-inline-block">Menu</a>
           </li>
           <li class="nav-item me-3 ">
               <a href="{% url 'paradise:list' %}" ><button class="btn  btn-outline-primary toMerch">Our Merch</button></button></a>
           </li>
       </ul>
   </div>
</div> 
  </nav>
  
<main class="first-container  rounded">

      
      
<!-- intro -->

<section id="intro">
<div class="container-fluid  ">
  <div class="intro-msg">
   <span class="ms-3">Welcome to</span>
   
   <span class="brand-name  ">
       <div></div>
       PARADISE
   </span>
</div>

<div class="intro-img"></div>

<span class="quote ">
   <blockquote class="text-primary" ><b>&#10077Live,Love,Laugh&#10078</b></blockquote>
   <blockquote> Fill the happiness in what you wear.</blockquote>
</span>          
  <div class="center">
<button class="btn border fw-bold  btn-dark btn-lg-lg"><a href="#merch" class="text-light" style="text-decoration: none;">Check Out Our Merch</a></button>

  </div>
</div>
</section>


<!-- summary -->

<section id="summary">
<div class="container-fluid center">
<h1 class="msg">THE YOUTH BRAND</h1>
<h3 class="text-primary my-4"> Summary</h3>
<p class="w-75 center mt-4 ">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas maxime quasi libero provident minus amet quisquam totam dicta natus ratione, esse deleniti delectus reiciendis exercitationem voluptatibus distinctio. Fugit, nobis.
</p>


<blockquote class="text-primary  fs-5 center my-5" >&#10077 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veniam fugiat ut debitis dicta, obcaecati quisquam excepturi, sed explicabo qui, ad rerum deleniti ducimus vel ex dolore alias perspiciatis inventore! &#10078</blockquote>


</div>


</section>

<!-- merch  -->

<section id="merch">
<div class="container-fluid px-3 center">
<h3 class="py-3 fs-2 bg-dark text-light">Collections</h3>

<div class="inventory">
  <div class="mens-wears wears mb-lg-4 mb-md-2 mb-1 ">
    <div>
       <p class=" fw-bolder text-light">Check Out Our Mens Wears</p>
       <button class="btn  border border-light border-5 "><a href="{% url 'paradise:list' %}" class="nav-link text-light" >Check It Out!</a></button>
    </div>
</div>
<div class="womens-wears wears ">
   <div>
       <p class=" fw-bolder text-light">Check Out Our Womens Wears</p>
       <button class="btn  border border-light border-5  "><a href="{% url 'paradise:list' %}" class="nav-link text-light">Check It Out!</a></button>
   </div>
       
  </div>
</div>
</div>
</section>

<!-- collaborations -->

<section id="collaborations">
<div class="container-fluid center text-light bg-dark   ">
  <p class="fs-1 fw-bolder pt-3 td-underline">Collaborations</p>

<div class="collabs row justify-content-evenly ">
    <div class="col-md-6  fs-3  fw-bold "><span class="border border-5 px-3 py-1">EVOLVE</span></div>
    <div class="col-md-6 fs-3 fw-bold ">  <span class="border border-5 px-3 py-1">APHRODITE 21</span></div>
</div>


</div>
</section>



<!-- footer -->

<footer>
<div class="container-fluid text-light bg-dark  center">

<span class="brand-name ">
   <div></div>
    PARADISE
 </span>
  
 <div class="row">
      <div class="contact col-md-4 ">
        <h4>Contact us</h4>
        <ul class="p-0">
            <a href="#" class="nav-link link-light"><i class="fab fa-whatsapp"></i> 08034445675</a>
            <a href="#" class="nav-link link-light"><i class="fab fa-whatsapp"></i> 08034445675</a>
            <a href="#" class="nav-link link-light"><i class="bi bi-telephone"></i> 08034445675</a>
            
        </ul>
      </div>
      <div class="socials col-md-4 ">
       <h4>Follow us</h4>
       <a href="#" class="nav-link link-light"><i class="fab fa-instagram"></i> Instagram</a>
       <a href="#" class="nav-link link-light"><i class="fab fa-twitter"></i> Twitter</a>
        
       </div>
      <div class="about col-md-4">
          <h4>About Us</h4>
          <a href="#" class="nav-link link-light">About us</a>
      </div>
  </div>
</div>
</footer>

</main>

</div>


<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'dependencies/bootstrap-5/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dependencies/Jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'dependencies/slick-1.8.1/slick/slick.min.js' %}"></script>
<script src="{% static 'dependencies/gsap-public/minified/gsap.min.js' %}"></script>
<script src="{% static 'dependencies/gsap-public/minified/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'dependencies/fontawesome-free-5.13.1-web/js/all.min.js' %}"></script>