
.animation{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
    z-index: 3;
    
  
}

.animation div{
 
font-weight: 700;
padding: .5rem;
font-size: 3em;  
 overflow: hidden;
 color: rgb(20, 20, 20);
 display: inline-block;
  
}

.background{
    z-index: -1;
    background-color: rgb(17, 16, 16);
    height: 0vh;
    width: 100%;
}