{% extends 'paradise/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <style></style>
{% endblock %}

{% block content %}
    <div class="overall" id="top">
  
    
        <!-- fade bg -->
  
   <div class="fade-bg"></div>

   <!-- cateory sidebar -->

  
   <!-- category sidebar trigger -->

   <button class="btn bg-dark text-light category-btn btn-lg"><i class="fas fa-filter"></i> Categories  </button>
 
           <!-- filters -->
           
             <section class="filter mt-4">
                 <div class="container-fluid ">
                  <div class="">
                      <select name="" class="form-select size ">
                        <option value="default" selected>Size</option>
                      </select>
                    </div>
                  <div class="">
                      <select name=""  class="form-select Price">
                        <option value="default" selected>Price</option>
                      </select>
                    </div>
                  <div class="">
                      <select name=""  class="form-select Sort-by">
                        <option value="default" selected>Sort By</option>
                      </select>
                    </div>
                 </div>
             </section>
         
            <div class="merch-switch mt-3 center  ">
              <button class="btn active  fw-bold mens-merch me-2 rounded">Mens Fashion</button>
          <button class="btn fw-bold womens-merch rounded">Womens Fashion</button>
        </div>
        
          <main>
          
          <div class="loader hide">
            <div class="grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              
            </div>
          </div>

        <!-- mens wears -->

            <section id="mens-wears" >
              
              <div id="Men-hoodies" class="container-fluid mens-category active">
                <h3 class="center sectionHeader">Hoodies</h3>
                 <div class="display">
                     {% for product in products %}
                     <div class="card shadow rounded ">
                      <img src="{{product.picture.url}}" alt="" class="card-img-top d-block ">
                      <div class="card-body row ">
                        <span class="product-name fw-bold  col-8 card-title">{{product.name}}</span>
                        <span class="price col-4 fw-bold text-primary center">${{product.price}}</span> 
                        <span class="extra-info col-12 card-subtitle text-muted">{{product.color}}, 100%</span>
                        <i class="bi bi-heart fs-4 save col-6 "></i> 
                        <span class="add-to-cart center col-6 "><i class="bi bi-plus fs-3"></i><i class="bi bi-cart fs-3"></i></span> 
                       <a href="{{product.get_absolute_url}}" class="p-0 center  "><button class="btn btn-dark col-11  btn-sm   fw-bold">See More</button></a> 
                    
                       
                      </div>
                  </div>   
                     {% endfor %}
                </div>                
              </div>

                <!-- another category -->
                  
               <div id="Men-shirts"  class="mens-category container-fluid hide" >
                 <h1 class="sectionHeader center">shirts</h1>
                 <div class="display">
                  
                  <div class="card shadow rounded ">
                    <img src="products/t-shirt.png" alt="" class="card-img-top d-block ">
                    <div class="card-body row ">
                      <span class="product-name fw-bold   col-8 card-title">Black plain t-shirt</span>
                      <span class="price col-4 fw-bold text-primary center">$100</span>
                      <span class="extra-info col-12 card-subtitle text-muted">100% cotton</span>
                      <i class="bi bi-heart fs-4 save col-6 "></i> 
                      <span class="add-to-cart center col-6 "><i class="bi bi-plus fs-3"></i><i class="bi bi-cart fs-3"></i></span> 
                      <a href="" class="p-0 center  "><button class="btn btn-dark col-11  btn-sm   fw-bold">See More</button></a> 
                     
                     
                     
                    </div>
                </div>

                 </div>

                 </div>
                

               <div id="Men-joggers"  class="mens-category container-fluid hide" >
                 <h1 class="sectionHeader center">Joggers</h1>
                 <div class="display">
                    
                  <div class="card shadow rounded ">
                    <img src="products/mens-joggers.png" alt="" class="card-img-top d-block ">
                    <div class="card-body row ">
                      <span class="product-name fw-bold   col-8 card-title">grey Mens Joggers</span>
                      <span class="price col-4 fw-bold text-primary center">$100</span>
                      <span class="extra-info col-12 card-subtitle text-muted">100% cotton</span>
                      <i class="bi bi-heart fs-4 save col-6 "></i> 
                      <span class="add-to-cart center col-6 "><i class="bi bi-plus fs-3"></i><i class="bi bi-cart fs-3"></i></span> 
                      <a href="" class="p-0 center  "><button class="btn btn-dark col-11  btn-sm   fw-bold">See More</button></a> 
                     
                     
                     
                    </div>
                </div>


                 </div>

                 </div>
              
            </section>
        
          <!-- womens wears -->

            <section id="women-wears" class="hide">

          <div id="Women-crop-tops" class="container-fluid womens-category active">
            <h3 class="sectionHeader center">Crop-Tops</h3>
              <div class="display">
                
              <div class="card shadow rounded ">
                  <img src="products/women-hoodie.png" alt="" class="card-img-top d-block ">
                  <div class="card-body row ">
                    <span class="product-name fw-bold   col-8 card-title">Womens Crop swearshirt </span>
                    <span class="price col-4 fw-bold text-primary center">$100</span>
                    <span class="extra-info col-12 card-subtitle text-muted">Blue, 100% cotton </span>
                    <i class="bi bi-heart fs-4 save col-6 "></i> 
                    <span class="add-to-cart center col-6 f "><i class="bi bi-plus fs-3"></i><i class="bi bi-cart fs-3"></i></span> 
                    <a href="" class="p-0 center  "><button class="btn btn-dark col-11  btn-sm   fw-bold">See More</button></a> 
                  
                   
                  
                  </div>
              </div>

             
              </div>
            </div>

            <div id="Women-hoodies" class="womens-category container-fluid hide">
              <h3 class="sectionHeader center">Hoodies</h3>
              <div class="display">

              </div>
            </div>
              </section>

          <!-- scroll to top --> 
   
   <div class="scrollTop hide">
     <a href="#top" class="text-light bg-primary nav-link rounded" >
       <i class="fas fa-chevron-up fa-2x"></i>
      </a>
    </div>

        </main>
        
     </div>
{% endblock %}




{% block js %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}
</body>
</html>
 
  